{% extends 'newapp/base.html' %}

{% block title %}
  Home
{% endblock %}

{% block body_block %}

<div class="container">
    <h1>Welcome!</h1>
    <br>

    <p>This is a mini-site celebrating the beautiful game of football.</p>
    <p>There have been many great moments that have taken place since the creation of the sport, but we will only
      view a few.</p>

    <p><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</em></p>
    <p><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</em></p>

    <br>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3Ak-gx1Vpq3uxGk2nfAu9rAbz8GFHwYoGTQ&usqp=CAU" alt="More than a game" class="center">

  </div>



{% endblock %}