{% extends 'newapp/base.html' %}

{% block title %}
  Inter 2010
{% endblock %}

{% block body_block %}

<div class="container">
    <h1>Inter Milan - Historic Treble</h1>

    <p>The 2009/10 season marked a significant period of time for the Nerazzurri as
    this was the first and only Italian side to win the treble.</p>

    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Inter_Mailand_%282009-08-16%29.jpg/440px-Inter_Mailand_%282009-08-16%29.jpg" alt="Inter's treble winning squad">
    <p class="explanation"><small>Inter's treble winning squad</small></p>

    <p></p>
    <p>Inter milan continued their domestic dominance, winning their fifth consecutive
    Serie A title with a remarkable 41 goal difference.</p>

    <p>In the Champions League Mourinho showed his true genius leading Inter to their third
    Champoions League title and first in 45 years. Along the way there were memorable matches
    with the tie against Barcelona arguably being the most memorable. This was due to the
    history between Mourinho and Barcelona after Mourinho was passed over for the job of Barcelona
    manager in favour of Pep Guardiola who had a style of play more fitting to the 'Barcelona ethos of play'.
    All of this contributed to a memorable Champions league semi-final match up.</p>
    <br>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/ylTVLMja0DE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p class="explanation"><small>Inter Milan vs Barcelona semi-final leg</small></p>

    <p></p>
    <p>The signifance of this season and what was achieved was evident in the emotions shown
     by both Mourinho and the players as he left the venue for the last time at the end of the season.</p>

  </div>



{% endblock %}